@-webkit-keyframes sweep {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: unset !important;
  border-color: transparent !important
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}

main {
  display: block
}

h1 {
  font-size: 2em
}

button:hover {
  border-color: transparent !important
}

button:active {
  color: transparent !important;
  border-color: transparent !important
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #222
}

a:hover,
button {
  text-transform: none
}

b {
  font-weight: bolder
}

img {
  border-style: none
}

button,
input {
  overflow: visible
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

[hidden] {
  display: none
}

* {
  outline: 0 !important
}

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0
}

.display-block {
  display: block
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}

.--just-space {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.--just-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.--just-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

body,
html {
  min-height: 100%;
  position: relative
}

body {
  margin: 0;
  font-size: 1rem
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
li,
p,
ul {
  margin: 0;
  color: #282828
}

label {
  margin-bottom: 5px
}

@media all {
  [tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important
  }

  button {
    border-radius: 0;
    text-transform: none
  }

  button:focus {
    outline: dotted 1px;
    outline: -webkit-focus-ring-color auto 5px
  }

  [type=button],
  button {
    -webkit-appearance: button
  }

  [type=button]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border-style: none
  }
}

@media all {

  *,
  ::after,
  ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem
  }

  label {
    display: inline-block;
    margin-bottom: .5rem
  }

  button {
    border-radius: 0;
    text-transform: none
  }

  button:focus {
    outline: dotted 1px;
    outline: -webkit-focus-ring-color auto 5px
  }

  [type=button],
  button {
    -webkit-appearance: button
  }

  [type=button]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border-style: none
  }

  h5 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
  }

  .btn:hover {
    color: #212529;
    text-decoration: none
  }

  .btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
  }

  .btn:disabled {
    opacity: .65
  }

  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
  }

  .btn-primary:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    -webkit-box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5);
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
  }

  .btn-primary:disabled {
    color: #fff;
    background-color: #b98a78 !important;
    border-color: #b98a78 !important
  }

  .text-center {
    text-align: center !important
  }

  .hidden {
    display: none !important
  }
}

@media all and (prefers-reduced-motion:reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
  }
}

@media all {
  button {
    text-transform: none;
    border-radius: 0;
    text-transform: none;
    outline: 0;
    cursor: pointer
  }

  [type=button]:-moz-focusring,
  button:-moz-focusring {
    outline: ButtonText dotted 1px
  }

  *,
  ::after,
  ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

  h5,
  p {
    margin: 0
  }

  label {
    display: inline-block;
    margin-bottom: .5rem
  }

  button:focus {
    outline: dotted 1px;
    outline: -webkit-focus-ring-color auto 5px
  }

  [type=button],
  button {
    -webkit-appearance: button
  }

  [type=button]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border-style: none
  }

  .text-center {
    text-align: center !important
  }

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0
  }

  p {
    margin-top: 0
  }

  .btn {
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
  }

  .btn,
  .btn-primary {
    background-color: #ff662b;
    display: inline-block;
    color: #fff;
    border: 2px solid #ff662b;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase
  }

  .btn-primary:hover:not(:disabled),
  .btn:hover:not(:disabled) {
    -webkit-box-shadow: inset 30em 0 #fff;
    box-shadow: inset 30em 0 #fff;
    color: #ff662b;
    border-color: transparent !important
  }

  .hidden {
    display: none !important
  }

  .input-box {
    position: relative
  }

  input:focus {
    outline: 0;
    -webkit-appearance: none
  }

  input {
    vertical-align: middle
  }

  input[type=text] {
    width: 100%;
    height: 48px;
    display: block;
    font-size: 16px;
    color: #000;
    line-height: 40px;
    outline: 0;
    margin: 0;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    padding: 0 0 0 10px !important
  }

  input[type=text]:focus {
    margin: 0;
    border: 1px solid #ff662b
  }

  .btn-primary {
    background-color: #ff662b;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    max-width: 100%;
    width: 280px;
    height: 55px
  }
}

@media all {
  .text-center {
    text-align: center !important
  }

  #calc_butt {
    width: 100%;
    padding: 15px 0;
    background-color: #ff662b
  }

  .main_calc-box {
    background-color: #fff;
    padding: 60px;
    border-radius: 5px
  }

  input:focus {
    outline: 0;
    -webkit-appearance: none
  }

  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0
  }

  input {
    vertical-align: middle
  }

  button {
    outline: 0
  }

  .calc .param,
  .main_calc-box .param {
    padding-bottom: 30px
  }

  .range_label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 5px;
    margin: 0 10px
  }

  .right {
    float: right
  }

  .cd_info {
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }

  .calc-btn {
    text-align: center
  }

  *,
  ::after,
  ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
  }

  h3,
  h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 400;
    line-height: 1.2
  }

  p {
    margin-top: 0
  }

  .calc-desc {
    padding: 30px 0 0 10px
  }

  .calc-input {
    color: #000;
    font-size: 14px;
    margin: 0 auto;
    padding: .5rem;
    border-radius: .2rem;
    background-color: #fff;
    border: none;
    width: 100%;
    display: block;
    border-bottom: .3rem solid transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-align: center;
    font-weight: 700
  }

  .calc-input::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
  }

  .calc-input::-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity .3s;
    transition: opacity .3s
  }

  .calc-input:-moz-placeholder {
    opacity: 1;
    -moz-transition: opacity .3s;
    transition: opacity .3s
  }

  .calc-input:-ms-input-placeholder {
    opacity: 1;
    -ms-transition: opacity .3s;
    transition: opacity .3s
  }

  .calc-input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
  }

  .calc-input:focus::-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity .3s;
    transition: opacity .3s
  }

  .calc-input:focus:-moz-placeholder {
    opacity: 0;
    -moz-transition: opacity .3s;
    transition: opacity .3s
  }

  .calc-input:focus:-ms-input-placeholder {
    opacity: 0;
    -ms-transition: opacity .3s;
    transition: opacity .3s
  }

  h3 {
    font-size: 1.75rem
  }

  h4 {
    padding-left: 10px;
    font-size: 12px;
    text-align: left;
    font-weight: 700
  }

  .range_label span {
    font-size: 12px;
    font-weight: 400;
    padding-top: 5px
  }

  .cd_info p {
    padding-bottom: 5px !important;
    font-size: 12px !important;
    font-weight: 300 !important
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #ff662b;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
  }
}

@media only screen and (max-width:1200px) {
  .grid {
    grid-template-columns: 1fr 1fr !important
  }
}

@media (max-width:1200px) {
  .right-block {
    padding: 50px 0 0 !important
  }

  .main-wrapper-content {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important
  }

  .main-wrapper-content .right-block {
    margin-bottom: 30px
  }

  .left-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px !important
  }

  .left-block,
  .right-block {
    flex-wrap: wrap;
    width: 100% !important
  }
}

@media (max-width:1105px) {
  .footer-second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}

@media (max-width:783px) {
  .left-block {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important
  }

  .tariff__icon__text {
    text-align: center
  }

  .tariff__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .main_calc-box {
    margin: -16px !important;
    padding: 30px !important
  }

  .calculator-text h2 {
    font-size: 18px !important
  }

  .calculator-title {
    padding: 0 0 34px !important
  }

  .bg-bottom-img {
    padding: 59px !important
  }

  .info__wrapper {
    text-align: center
  }

  .info__imgs {
    max-width: 100% !important
  }

  .bg__img__mid {
    background-position: left !important;
    background-attachment: unset !important
  }

  .info__title {
    padding: 34px 0 20px !important
  }

  .carts img {
    padding: 15px 11px !important
  }

  .title {
    padding: 33px 0 10px !important
  }

  h1 {
    font-size: 18px !important
  }

  .calculator-header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
  }

  .nav__toggle {
    display: block
  }

  .three-steps,
  .three-steps .title h1 {
    padding: 10px 0 !important
  }

  .tariffs {
    padding: 0 !important
  }

  .news__title {
    padding: 23px 0 !important
  }

  .news__button {
    margin: auto auto 0 !important
  }

  .apply-loan-title h1 {
    padding-top: 49px !important
  }

  .apply-loan__arrow {
    display: none
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .button--icon img {
    margin: 0 -10px 0 0
  }

  .button--icon a:hover {
    text-decoration: none !important;
    color: #999 !important
  }

  .apply-loan-title h1,
  .news__title h1,
  title h1 {
    font-size: 18px
  }

  .calculator-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .calculator-input .param {
    padding: 0 !important
  }
}

@media (max-width:700px) {
  .left-block {
    padding: 0 !important
  }
}

@media only screen and (max-width:600px) {
  .grid {
    grid-template-columns: 1fr !important;
    min-width: 290px;
    margin: 0 auto;
    width: 55%
  }
}

.wrapper {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto
}

.faqs-container {
  margin: 0 0 0 50px;
  position: absolute;
  max-width: 311px
}

.faq .faq-title {
  font-size: 18px;
  font-weight: 700
}

.faq {
  overflow: hidden;
  background-color: #fff;
  border-left: 1px solid #9fa4a8;
  border-bottom: 1px solid #9fa4a8;
  border-right: 1px solid #9fa4a8;
  border-radius: 4px;
  padding: 13px;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 11
}

.faq h3 {
  font-size: 18px;
  font-weight: 700
}

.faq a {
  font-size: 18px;
  font-weight: 400
}

.faq a:hover {
  color: #ff662b;
  text-decoration: none
}

a {
  opacity: 100% !important
}

.faq-title {
  margin: 0 35px 0 0
}

.faq-text {
  display: none;
  margin: 30px 0 0
}

.faq-toggle {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 9px;
  height: 30px;
  width: 30px
}

#config-btn i {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.faq-toggle:focus {
  outline: 0
}

.faq-toggle .fa-chevron-up {
  display: none;
  color: #ff662b
}

.faq-toggle .fa-chevron-down {
  color: #000
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #999
}

.title h1 {
  font-size: 50px
}

.footer-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.button--icon {
  font-style: normal;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #999;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #999;
  text-align: center;
  min-width: initial;
  padding: .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.button--icon img {
  padding: 0 10px 0 0
}

.button--icon:hover {
  color: #999 !important;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
  box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  text-decoration: none !important
}

.brand {
  font-weight: 700;
  font-size: 20px
}

.site-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem
}

.header-person {
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5
}

.nav__wrapper {
  position: fixed;
  top: 72px;
  left: 0;
  width: Max(220px, 20%);
  bottom: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  background-color: #ff662b;
  -webkit-transition: opacity .3s ease-out, -webkit-transform .3s ease-out;
  transition: transform .3s ease-out, opacity .3s ease-out, -webkit-transform .3s ease-out;
  -o-transition: transform .3s ease-out, opacity .3s ease-out;
  display: block
}

.nav__toggle {
  cursor: pointer;
  background-color: #ff662b;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  border-width: 0
}

.nav__toggle i {
  font-size: 20px;
  color: #fff
}

.nav__item {
  border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.nav__item a {
  display: block;
  padding: 1rem
}

.footer-wrapper {
  padding: 100px 0 58px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.header-person__link:hover {
  color: #ff662b
}

.site-header {
  padding: 8px 0
}

.logo {
  max-width: 200px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top
}

.logo .b {
  fill: #ff6700
}

.logo .c {
  fill: #2b2b2b
}

.bold {
  color: #282828;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none
}

.footer-wrapper div:not([class]) {
  padding: 0 0 0 30px
}

.footer-watch p {
  margin: 0 0 0 -5px
}

.footer-location p,
.footer-phone p,
.footer-watch p {
  padding: 0 0 0 22px
}

.footer-phone {
  font-size: 18px
}

.footer-phone a {
  font-size: 18px !important;
  font-weight: 400 !important
}

.footer-location,
.footer-watch {
  font-size: 12px
}

.footer-watch span {
  color: #ff662b
}

.footer-wrapper ul li {
  padding: 2px
}

.footer-wrapper ul li a:not([class]) {
  padding-left: 10px;
  color: #282828;
  text-decoration: none
}

.footer {
  background-color: #e5e5e5
}

.footer-wrapper ul li a {
  font-size: 14px
}

.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ff662b;
  border-radius: 6px;
  height: 34px;
  width: 200px;
  text-align: center;
  margin: 4px 0 22px;
  vertical-align: middle;
  color: #ff662b;
  font-size: 14px;
  font-weight: 700;
  text-transform: none
}

.footer-btn:hover {
  -webkit-box-shadow: inset 20em 0 #ff662b;
  box-shadow: inset 20em 0 #ff662b;
  color: #fff
}

button {
  cursor: pointer
}

.btn,
.btn-primary,
.common-btn {
  background-color: #ff662b;
  display: inline-block;
  color: #fff;
  border: 2px solid #ff662b;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase
}

.btn-primary:active:not(:disabled),
.btn-primary:focus:not(:disabled),
.btn-primary:hover:not(:disabled),
.btn:active:not(:disabled),
.btn:focus:not(:disabled),
.btn:hover:not(:disabled),
.common-btn:active:not(:disabled),
.common-btn:focus:not(:disabled),
.common-btn:hover:not(:disabled) {
  -webkit-box-shadow: inset 30em 0 #fff !important;
  box-shadow: inset 30em 0 #fff !important;
  color: #ff662b !important;
  border-color: #ff662b !important
}

.calculator-bg-image {
  padding: 30px;
  background-image: url(../../img/basic-page-img/top-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover
}

.calculator-title {
  padding: 0 0 28px
}

.calculator-text {
  text-align: center
}

.calculator-text h1 {
  font-size: 50px;
  font-weight: lighter;
  text-transform: uppercase
}

.calculator-text h2 {
  font-size: 59px;
  color: #ff662b;
  font-weight: 700;
  text-transform: uppercase
}

.calculator-text p {
  font-size: 20px;
  font-weight: lighter;
  color: #666
}

.carts img {
  padding: 70px 25px
}

.carts_wrapper {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.three-steps {
  background-color: #f6f7f9;
  padding-bottom: 155px
}

.three-steps .title {
  text-align: center;
  padding-top: 90px
}

.three-steps .title h1 {
  font-weight: 600;
  font-size: 48px;
  padding: 9vh 0 72px
}

.three-steps .blocks {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.three-steps .blocks .container-for-img-text {
  position: relative;
  text-align: center
}

.three-steps .blocks .block {
  padding: 2vh;
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.three-steps .blocks .text {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.three-steps .blocks .text p {
  padding-top: 30px;
  font-size: 18px;
  font-weight: 700
}

.three-steps .blocks .text span {
  font-size: 18px;
  font-weight: 400
}

.three-steps .set__ticket {
  background-color: #ff662b;
  width: 281px;
  height: 50px;
  position: absolute;
  bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  color: #fff;
  z-index: 1
}

.three-steps .set__ticket:hover {
  color: #ff662b
}

.bg__img__mid {
  background-image: url(../../img/basic-page-img/bg-mid.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed
}

.info__text,
.info__title,
.info__title__2 {
  font-size: 18px
}

.info__text p,
.info__title p,
.info__title__2 p {
  line-height: 30px
}

.info__title,
.info__title__2 {
  font-weight: 700
}

.info__text {
  max-width: 540px;
  font-size: 18px
}

.info__title {
  padding: 110px 0 20px
}

.info__title__2 {
  padding: 50px 0 0
}

.info__imgs {
  padding: 0 0 100px;
  max-width: 414px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around
}

.info__img {
  padding-top: 50px;
  width: 138px;
  text-align: center
}

.tariffs {
  background-color: #f6f7f9;
  padding-bottom: 96px
}

.title {
  text-align: center;
  padding: 90px 0 76px
}

.tariff_wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between
}

.__tariff {
  width: 340px;
  background-color: #fff;
  padding: 40px
}

.__tariff:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
  box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}

.title h1 {
  font-weight: 600
}

.__tariff__wrapper__img__text {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.tariff__title {
  padding-left: 26px
}

.tariff__text {
  font-size: 14px;
  width: 200px;
  padding-top: 5vh
}

.tariff__text p,
.tariff__text span {
  color: #7a7a7a
}

.tariff__icon__text {
  padding-top: 2vh;
  font-size: 12px
}

.tariff__icon__text p {
  color: #989898
}

.tariff__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
  padding-bottom: 4vh
}

.tariff__inner__right {
  padding-left: 5vh
}

.tariff__button {
  display: block;
  margin: 0 auto;
  background-color: #ff662b;
  width: 182px;
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px
}

.tariff__button a {
  color: #fff
}

.news__title {
  padding: 87px 0 61px;
  text-align: center
}

.news__title h1 {
  font-size: 50px;
  font-weight: 600
}

.grid * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 20px
}

.grid-item {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: 1px solid #b7b7b7
}

.grid-item .image {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  height: 200px;
  overflow: hidden
}

.grid-item .info {
  position: relative;
  height: calc(100% - 200px);
  padding: 17px
}

.grid-item .image img {
  -webkit-transition: -webkit-transform 280ms ease-in-out;
  transition: transform 280ms ease-in-out;
  -o-transition: transform 280ms ease-in-out;
  transition: transform 280ms ease-in-out, -webkit-transform 280ms ease-in-out;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.grid-item:hover .image img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.news .grid-item .image {
  height: 166px
}

.info a {
  line-height: 24px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  text-align: left
}

.info a:hover {
  color: #ff662b
}

.info-text p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px
}

.info-date {
  font-size: 12px;
  color: #b7b7b7
}

.info-text p:last-child {
  margin-bottom: 0
}

.grid-item .button-wrap {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 14px;
  left: 0;
  text-align: center
}

.news__button {
  margin: auto auto 120px;
  border-radius: 6px;
  width: 180px;
  background-color: #ff662b;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.news__button a {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-align: center
}

.bg-bottom-img {
  background-image: url(../../img/basic-page-img/bg-bot.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 117px
}

.promo__text {
  text-align: center
}

.promo__text h1 {
  font-size: 50px;
  font-weight: 600
}

.promo__button__wrap {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.promo__button {
  width: 280px;
  background-color: #fff;
  height: 50px;
  color: #000;
  border: none
}

.promo__button:hover {
  -webkit-box-shadow: inset 20em 0 #ff662b;
  box-shadow: inset 20em 0 #ff662b;
  color: #fff
}

.apply-loan__link {
  color: #ff662b;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 700
}

.apply-loan__body {
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.apply-loan__btm__title {
  text-align: center;
  margin: auto;
  font-size: 18px;
  font-weight: 400;
  padding: 50px 0 105px
}

.apply-loan-title {
  text-align: center
}

.apply-loan-title h1 {
  padding-top: 108px;
  color: #282828;
  font-weight: 600;
  font-size: 50px;
  text-transform: uppercase
}

.apply-loan-title p {
  padding: 40px 0 65px;
  color: #282828;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase
}

.apply-loan__row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}

.apply-loan__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  border: 1px solid #ff662b;
  width: 100px;
  height: 100px
}

.apply-loan__img img {
  display: block;
  margin: auto
}

.apply-loan__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.apply-loan__arrow {
  text-align: center;
  margin: 0 -5px 0 0
}

.apply-loan__arrow p {
  font-size: 40px;
  color: #bfbfbf
}

.apply-loan__text {
  padding-top: 40px;
  line-height: 24px;
  text-align: center;
  width: 162px
}

.apply-loan__text a {
  color: #ff662b;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline
}

.apply-loan__text a:hover {
  text-decoration: none
}

.apply-loan__text p {
  font-size: 18px;
  font-weight: 700
}

.apply-loan__text span {
  font-size: 14px
}

.loan-info {
  text-align: center;
  padding: 300px 0 100px;
  font-size: 18px
}

ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0
}

.hidden {
  display: none !important
}

.input-box {
  position: relative
}

input:focus {
  outline: 0;
  -webkit-appearance: none
}

input {
  vertical-align: middle
}

input[type=email],
input[type=password],
input[type=text] {
  width: 100%;
  height: 48px;
  display: block;
  font-size: 16px;
  color: #000;
  line-height: 40px;
  outline: 0;
  margin: 0;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  padding: 0 5px 0 20px !important
}

input[type=email]:focus,
input[type=text]:focus {
  margin: 0;
  border: 1px solid #ff662b
}

.content-form .btn-box {
  padding-top: 30px
}

.reg__item {
  position: unset !important;
  background-color: #ddd !important
}

.input-box {
  padding: 22px 0 0
}

.btn-primary {
  background-color: #ff662b;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  width: 280px;
  height: 55px
}

.sms-input {
  width: 280px !important;
  height: 55px !important
}

.main-wrapper-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 60px
}

.item-second {
  color: #ff662b !important
}

.btn-box {
  padding: 34px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.calculator-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 0 0
}

.calculator-input .param {
  padding: 0 38px 0 0
}

.slider-range-box label {
  margin-bottom: 0
}

[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.25em;
  height: 1.25em;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
  margin: 0 1.25em;
  display: inline-block;
  vertical-align: text-bottom;
  position: relative;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

input[data-picker] {
  background-image: url(../../img/basic-page-img/pay_day.png);
  background-repeat: no-repeat;
  background-position: 20px;
  padding-left: 60px !important
}

@keyframes sweep {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.calc-value-box {
  border: 1px solid #ddd;
  border-bottom: none;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative
}

.calc-value-box .calc-value-info {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  z-index: 5;
  width: 100%
}

.calc-value-box .calc-value-info span {
  color: #000
}

.calc-value-box input {
  border: none !important;
  border-radius: 0;
  position: relative;
  width: 100%;
  z-index: 3;
  font-weight: 700;
  text-align: center
}

.calc-limit,
.calc-value-info .calc-summ {
  font-size: 14px;
  font-weight: 700
}

.img {
  width: 14px
}

label {
  display: inline-block;
  margin-bottom: unset !important
}

.tariff_person_wrapper {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  width: 100%
}

.tariff_person_wrapper .__tariff {
  background-color: #fafbfc;
  border-radius: 5px;
  height: auto;
  margin: 0;
  padding-bottom: 30px;
  width: unset
}

.tariff_person_wrapper .__tariff:hover {
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
  -webkit-box-shadow: unset;
  box-shadow: unset
}

.tariff_person_wrapper .tariff__text {
  padding: 20px 0 0
}

.tariff_person_wrapper .tariff__icon__text {
  padding: 10px 0 0
}

.person-desc {
  padding: 0 !important
}

.person-desc .cd_info {
  padding: 45px 0 0
}

.person-desc .cd_info p {
  overflow: hidden
}

.person-desc .cd_info p:after {
  content: '..................................................';
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  letter-spacing: 6px
}

.person-desc .cd_info p span:first-of-type {
  float: left;
  margin-right: 10px;
  font-size: 18px
}

.person-desc .cd_info p span:last-of-type {
  float: right;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700
}

.person-desc .cd_info p:last-of-type {
  margin-left: 20px
}

.params-box .param h4 {
  text-align: left;
  font-size: 12px;
  font-weight: 700
}

.left-block {
  width: 33%
}

.right-block {
  width: 65%;
  padding: 0 0 0 20px
}

.login-main.wrapper>div {
  background-color: #f6f7f9
}

.login-main .content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.login-main .content-form .btn-box {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding-top: 32px
}

.site-header {
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5
}

.left-menu__body {
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  width: 100%
}

.left-menu__link a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f6f8f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  height: 71px;
  width: 100%
}

.left-menu__link:not(:last-child) a {
  border-bottom: 1px solid #e5e5e5
}

.left-menu__link a:hover {
  background-color: #e5e5e5;
  color: #ff662b;
  text-decoration: none
}

.apply-loan__img2::before {
  content: attr(data-index-number);
  font-size: 150px;
  color: #f6f7f9 !important;
  font-weight: 700;
  display: block;
  position: absolute;
  margin: -61px 0 0 -17px
}

.bg-bottom-img2 {
  background-image: url(../../img/basic-page-img/bg-otsr.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px
}

.promo__text2 {
  padding: 60px 0 0;
  text-transform: uppercase
}

.promo__text2 h1 {
  padding: 50px 0 0
}

.ticket {
  padding: 35px 0 0
}

.button--icon--person {
  height: 51px;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.button--icon--person img {
  padding: 0 10px 0 25px
}

.news__l {
  height: 200px;
  width: 30%
}

.news__l img {
  height: 100%;
  width: 100%
}

.news__item {
  padding: 0 0 20px
}

#btn-news {
  color: #282828;
  background-color: #fff
}

.payment-method {
  padding: 40px 0 50px;
  background-color: #f6f7f9
}

.payment-method__header {
  text-align: center
}

.payment-method__header h1 {
  line-height: 30px;
  font-size: 14px;
  font-weight: 700
}

.payment-method__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.payment-method__text span {
  font-size: 14px;
  line-height: 30px;
  color: #ff662b
}

.payment-method__text p {
  font-size: 14px;
  line-height: 30px
}

.payment-method__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.payment-method__btn {
  padding: 25px 0 0
}

.payment-method__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0 20px
}

.payment-method__imgs img {
  padding: 5px
}

.login-main.wrapper {
  padding-bottom: 60px;
  padding-top: 50px
}

.login-main h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase
}

.login-main.wrapper>div {
  background-color: #f6f7f9;
  margin: 0 auto;
  max-width: 480px;
  padding: 40px 5px 60px
}

@media screen and (min-width:768px) {
  .calc .params-box {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between
  }

  .calc .params-box .param {
    width: 48%
  }

  .wrapper-master .calc-desc {
    padding-top: 0
  }
}

.person-main .content-box__title {
  color: #000;
  display: block;
  font-size: 48px;
  font-weight: 600;
  line-height: 50px;
  padding-left: 0;
  text-align: left;
  text-transform: uppercase
}

.calc .calc-desc {
  padding: 0
}

.user_info {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between
}

.user_info .user_settings {
  padding-right: 10px
}

.btn_person_settings {
  background-color: #f6f7f9;
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 51px;
  height: 51px
}

.btn_person_settings:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
  box-shadow: 0 5px 18px rgba(0, 0, 0, .15);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  text-decoration: none !important
}

.form_bg_box {
  background: #f6f7f9;
  padding: 35px 50px;
  margin-top: 35px
}

.form_bg_box {
  background: #fafbfc;
  border-radius: 8px
}

.form_bg_box h3 {
  color: #282828;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase
}

.faq_type_box h3 {
  color: #ff662b;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase
}

.narusheny .apply-loan__text a {
  color: #282828;
  font-size: 18px;
  font-style: italic;
  text-decoration: underline
}

.narusheny .apply-loan__text a {
  font-style: normal;
  font-weight: 800
}

.narusheny .apply-loan__text a:hover {
  color: #282828;
  text-decoration: none
}

.left-block>div:not(:first-child):last-child {
  margin-top: 30px
}

.apply-loan_cb_text {
  padding-bottom: 30px
}

.apply-loan_cb_text p {
  margin: auto;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px
}

.apply-loan_cb_text p a {
  color: #ff662b;
  font-size: 16px;
  font-weight: 700;
  text-decoration: underline
}

.apply-loan_cb_text p a:hover {
  text-decoration: none
}

.cookie {
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 5px;
  background-color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  z-index: 9999;
  border: 1px solid #ff662b
}

.cookie p {
  color: #282858
}

.cookie a {
  color: #007bff
}

.cookie_accept {
  margin-left: 15px;
  border-radius: 5px;
  background-color: #ff662b;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  transition: all .3s linear
}

.cookie_accept:hover {
  background-color: #fff;
  color: #ff662b;
  border: 1px solid #ff662b !important
}

.params-box {
  margin-top: 48px
}

.info-step5 {
  display: none
}

@media screen and (max-width:1200px) {
  .right-block {
    padding: 10px 0 0 !important
  }

  .__tariff {
    padding: 20px;
    height: 400px;
    width: 31%
  }

  .__tariff .tariff__img img {
    width: 30px
  }

  .tariff__title {
    padding-left: 15px
  }

  .tariff__title h2 {
    font-size: 26px
  }

  .left-menu__link {
    max-width: 358px !important;
    min-width: 280px !important
  }

  .news__wrapper {
    margin: 0 auto;
    width: 77%
  }
}

@media screen and (max-width:991px) {
  .faqs-container {
    margin: 60px 0 0 0
  }

  .three-steps .title h1 {
    font-size: 44px;
    padding: 0
  }

  .three-steps .title {
    padding-top: 80px
  }

  .tariffs {
    padding-bottom: 65px
  }

  .tariff_wrapper {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly
  }

  .__tariff {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 360px;
    width: 35%;
    margin-bottom: 20px
  }

  .three-steps {
    padding-bottom: 90px
  }

  .three-steps .blocks .container-for-img-text {
    margin-bottom: 15px
  }

  .three-steps .blocks {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly
  }

  .news__title h1 {
    font-size: 42px;
    font-weight: 600
  }

  .news__title {
    padding: 67px 0 50px;
    text-align: center
  }

  .news__button {
    margin: auto auto 90px
  }

  .bg-bottom-img {
    padding: 70px
  }

  .promo__text h1 {
    font-size: 34px;
    font-weight: 600
  }

  .promo__button__wrap {
    padding-top: 35px
  }

  .apply-loan-title h1 {
    font-size: 40px;
    padding-top: 55px
  }

  .apply-loan-title p {
    padding: 30px 0 45px
  }

  .apply-loan__btm__title {
    font-size: 16px;
    font-weight: 400;
    padding: 40px 0 65px
  }

  .apply-loan__row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%
  }

  .apply-loan__arrow {
    display: none
  }

  .apply-loan__column {
    padding-bottom: 15px
  }

  .apply-loan__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }

  .apply-loan__text {
    line-height: 24px;
    padding-left: 10px;
    padding-top: 0;
    text-align: center;
    width: 260px
  }

  .footer-wrapper {
    padding: 50px 0 35px
  }

  .news__wrapper {
    margin: 0 auto;
    width: 100%
  }

  .main_calc-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px
  }
}

@media screen and (max-width:767px) {
  .__tariff {
    height: 360px;
    width: 60%;
    margin-bottom: 20px
  }

  .apply-loan__btm__title {
    font-size: 16px;
    padding: 40px 20px 65px
  }

  .form_bg_box {
    padding: 20px 30px
  }

  .button--icon span {
    display: none
  }

  .button--icon--person {
    height: 51px;
    padding: 10px 16px;
    width: auto
  }

  .button--icon--person img {
    padding: 0;
    margin: 0
  }

  .content-form .btn-box {
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    width: 280px
  }

  .content-form .btn-box .btn {
    max-width: 280px;
    width: 100%
  }

  .content-form .btn-box .btn:last-child {
    margin-top: 17px
  }
}

@media screen and (max-width:640px) {
  .news__wrapper {
    margin: 0 auto;
    width: 55%;
    min-width: 290px
  }

  .news__l {
    height: 200px;
    width: 100%
  }

  #btn-news {
    display: block;
    margin: 0 auto
  }
}

@media screen and (max-width:585px) {
  .person-main .content-box__title {
    font-size: 32px;
    line-height: 40px
  }
}

@media screen and (max-width:480px) {
  .__tariff {
    width: 80%
  }

  .bg-bottom-img {
    padding-right: 10px !important
  }

  .login-main.wrapper>div {
    padding: 20px 10px 30px
  }

  .form_bg_box {
    padding: 15px 20px
  }

  .form_bg_box h3 {
    font-size: 26px
  }

  .site-header__wrapper .brand img {
    width: 160px
  }

  .calculator-bg-image {
    background-image: none
  }

  .calculator .container {
    padding: 0
  }

  .calculator .calculator-bg-image {
    padding: 0;
    background: 0 0
  }

  .calculator .main_calc-box {
    margin: 0 !important;
    border-radius: 0
  }

  .calculator .calculator-header {
    flex-direction: column;
    align-items: stretch
  }

  .calculator .calculator-title {
    min-height: 200px;
    display: flex;
    flex-direction: unset;
    padding: 0 !important;
    background-image: url(../../img/basic-page-img/top-bg-img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
  }

  .zabiray .calculator-title {
    background-image: none !important;
    background-color: #e8f1fa !important
  }

  .calculator .calculator-title__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%
  }

  .calculator .calculator-title__zabiray {
    background-image: url(../../img/basic-page-img/top-bg-img_small.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
    flex: 2
  }

  .calculator-title__text {
    flex: 2;
    padding-right: 10px
  }

  .calculator .calculator-title__content {
    margin-left: auto;
    padding-right: 10px
  }

  .calculator .calculator-title__content h1,
  .calculator .calculator-title__content h2 {
    font-size: 22px !important
  }

  .calculator .calculator-title__content p {
    font-size: 10px
  }

  .info-step5 {
    display: block;
    font-weight: 700;
    text-align: center;
    margin-bottom: 18px;
    margin-top: 38px
  }
}

@media screen and (max-width:405px) {

  .calculator .calculator-title__content h1,
  .calculator .calculator-title__content h2 {
    font-size: 19px !important
  }
}

@media screen and (max-width:380px) {
  .zabiray .calculator-title {
    min-height: 176px
  }
}

@media screen and (max-width:360px) {

  .calculator .calculator-title__content h1,
  .calculator .calculator-title__content h2 {
    font-size: 17px !important
  }

  .apply-loan__img {
    height: 80px;
    width: 80px
  }

  .apply-loan__text {
    line-height: 20px;
    width: 200px
  }

  .apply-loan__text a,
  .apply-loan__text p {
    font-size: 16px
  }

  .left-menu__link a {
    font-size: 22px
  }

  .form_bg_box h3 {
    font-size: 20px
  }

  .main-wrapper-content {
    padding-bottom: 30px
  }

  .site-header {
    padding: 0
  }

  .nav__toggle {
    height: 44px;
    width: 44px
  }

  .nav__toggle img {
    width: 22px
  }

  .site-header__wrapper .brand img {
    width: 120px
  }

  .btn_person_settings {
    height: 44px;
    width: 44px
  }

  .btn_person_settings img {
    width: 20px
  }

  .button--icon--person {
    height: 44px;
    padding: 10px 12.5px;
    width: auto
  }
}

// BEGIN style - rc-slider

.rc-slider, .rc-slider-horizontal {
  position: absolute;
  padding: 0;
}

.rc-slider-handle, .rc-slider-handle:hover, .rc-slider-handle:focus-visible, .rc-slider-handle:active, .rc-slider-handle:focus {
  background: #ff662b !important;
  border: 3px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.50);
  box-shadow: 0 0 5px rgba(0,0,0, 0.5);
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin-top: -5px;
  z-index: 10;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border: 3px solid white;
  background: #ff662b !important;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.50);
  box-shadow: 0 0 5px rgba(0,0,0, 0.5);
}

.rc-slider-rail, .rc-slider-track {
  width: 100%;
  height: 6px;
  border-radius: 0px 0px 100px 100px;
}

// END style - rc-slider

.slider-range-box {
  position: relative;
}